{
	"arrowParens": "avoid",
	"bracketSpacing": true,
	"jsxBracketSameLine": true,
	"jsxSingleQuote": true,
	"printWidth": 120,
	"semi": false,
	"tabWidth": 4,
	"singleQuote": true,
	"trailingComma": "none",
	"useTabs": true
}
